#post-link{
     text-align: center;
     font-size: 200%;
}

#who{
    text-align: center;
    font-size: 300%
}

#about{
    text-align: center;
    font-size: 250%
}
.recommendation-container{
    margin: auto;
    width: 80%;
    font-size: 150%;
    background-color: #E8C384;
    
}
.genre-img{
    width: 300px;
}
#logo{
    text-align: center;
    width: 400%


}

    
