<!DOCTYPE html>
<html>
<head>
  <,link 
	<title> foodie </title>
</head>
<body>
<div id="container">
      <div id="page-header">
        <h1 style="text-align:center; font-size:50px">Foodie</h1>
        <h2>{{country}}</h2>
      </div> 
        {% for recipe in recipes %}
          <div class="recipe-container">
              {{recipe.title}}
              {{current_user.email}}
              <div class="recipe-body">
                <img class="recipe-img" src="{{recipe.picture_url}}" alt="picture-{{recipe.id}}">
              <div class="recipe-ingredients">{{recipe.ingredients}}</div>
              <div class="recipe-description">{{recipe.description}}</div>
              </div>
            </div>
        {% endfor %}
</div>
</body>
</html>