<!DOCTYPE html>
<html>
<head>
	<title> foodie </title>
</head>
<body>
<div id="container">
      <div id="page-header">
        <h1 style="text-align:center; font-size:50px">foodie</h1>
        <h2>{{country}}</h2>
      </div> 
        {% for recipe in recipes %}
          {{recipe.title}}
          <div class="recipes-container">
            <div class="recipe-body">
              <img class="recipe-img" src="{{recipe.picture_url}}" alt="picture-{{recipe.id}}">
              <div class="recipe-text">{{recipe.text}}</div>
            </div>
        {% endfor %}
</div>
</body>
</html>