<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title> foodie </title>
</head>
<body>
<div id="container">
      <div id="page-header">
        <h1 style="text-align:center; font-size:50px">foodie</h1>
        <h2>Palestine</h2>
      </div>
      
      <div id="main">


        <!--<a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Post Recipe!</a>
        {% for recipe in recipes %}
          <div class="recipe-container">
            <a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Edit</a>
            <div class="recipe-img">
              <img class="tweet-img" src="{{recipe.picture}}" alt="picture-{{recipe.id}}">
            </div>
            <div class="recipe-body">
              
              <div>{{recipe.name_of_publisher}}</div>
              <div>{{recipe.ingredients}}</div>
              <div>{{recipe.how_to_make}}</div>
            </div>
          </div>
        {% endfor %} --> 
      </div>
      
</div>
</body>
</html>