<!DOCTYPE html>
<head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename  ='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body background="{{ url_for('static', filename = 'img/background.jpg')}}">
<center>
<img src="{{ url_for('static', filename = 'img/logo.jpg')}}" height="200" width="300">
</center>


<div id="Goal_of_the_site">
<p id="about the site"><font color="red">This site comes to help readers find books they like and recommend books for other. how does it work? you can choose a genre and find a book you are interested in or post a new recommendation. have fun! :) </font> </p>
</div>
<div id="post-link">
<a href="{{url_for('post_recommendation')}}"> <font color="black">Post recommendation!</font></a> 
</div>
<div class="shared">  
<ul>
  <br>
  <h3> <font color="white">genre</font></h3>
  <li><a href="{{url_for('genre', genre='fantasy')}}"><img src="{{ url_for('static', filename = 'img/fantasy.jpg')}}" alt="fantasy" style="width:70px;height:60px;"></a></li>
 
  <br>

  <li><a href="{{url_for('genre', genre='history')}}"><img src="{{ url_for('static', filename = 'img/history.jpg')}}" alt="history" style="width:70px;height:60px;"></a></li>
  <br>

  <li><a href="{{url_for('genre', genre='science')}}"><img src="{{ url_for('static', filename = 'img/science.jpg')}}" alt="science" style="width:70px;height:60px;"></a></li>
  <br>

  <li><a href="{{url_for('genre', genre='suspense')}}"><img src="{{ url_for('static', filename = 'img/suspense.jpg')}}" alt="suspense" style="width:70px;height:60px;"></a></li> <br>

<li><a href="{{url_for('genre', genre='languages')}}"><img src="{{ url_for('static', filename = 'img/languages.jpg')}}" alt="languages" style="width:70px;height:60px;"></a></li>
</ul>
</div>

</body>