<!DOCTYPE html>
<head>
<title>Foodie</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<h1 class="main_header">Foodie</h1>
<div id="post-link">
<a href="{{url_for('post_recipe')}}">Post recipe!</a> 
</div>
<div id="about-us">
<h2> About Foodie:</h2>
<p id="about">Hello! We are a group of Israeli and Palestinian teenagers who want to learn more about each others culture. We created this website to help people like us to learn more about other cultures around the world through food recipes. </p>
<h3 id="who"> So who are we?</h3>
<h3 id="names"> Gilead, Noa, Mahmoud, Luna and Warrd</h3>
</div>
<div class="shared">
<ul>
  <br>
  <h3>countries</h4>
  <li><a href="{{url_for('country_page', country='Palestine')}}"><img src="{{ url_for('static', filename = 'img/palestine.jpg')}}" alt="Palestine" style="width:70px;height:60px;"></a></li>
 
  <br>

  <li><a href="{{url_for('country_page', country='France')}}"><img src="{{ url_for('static', filename = 'img/france.jpg')}}" alt="France" style="width:70px;height:60px;"></a></li>
  <br>

  <li><a href="{{url_for('country_page', country='Russia')}}"><img src="{{ url_for('static', filename = 'img/russia.jpg')}}" alt="France" style="width:70px;height:60px;"></a></li>
  <br>

  <li><a href="{{url_for('country_page', country='Mexico')}}"><img src="{{ url_for('static', filename = 'img/mexico.jpg')}}" alt="Mexico" style="width:70px;height:60px;"></a></li> <br>

<li><a href="{{url_for('country_page', country='Israel')}}"><img src="{{ url_for('static', filename = 'img/israel.jpg')}}" alt="Israel" style="width:70px;height:60px;"></a></li>


</ul>
</div>

<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" 
  onclick="closeNav()">&times;</a>

  <a href="{{url_for('country_page', country='palestine')}}"><img src="{{ url_for('static', filename = 'img/palestine.jpg')}}" alt="palestine" style="width:50px;height:40px;"></a>

  <a href="{{url_for('country_page', country='france')}}"><img src="{{ url_for('static', filename = 'img/france.jpg')}}" alt="france" style="width:50px;height:40px;"</a>loseNav()">&times;</a>

  <a href="{{url_for('country_page', country='russia')}}"><img src="{{ url_for('static', filename = 'img/russia.jpg')}}" alt="russia" style="width:50px;height:40px;"</a
  >

  <a href="{{url_for('country_page', country='mexico')}}"><img src="{{ url_for('static', filename = 'img/mexico.jpg')}}" alt="mexico" style="width:50px;height:40px;"</a>
</div>



<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
 -->

</body>