<!DOCTYPE html>
<html>
	<head>
		<title>foodie</title>
	</head>
	<body>

		<h1>foodie</h1>
		<h3>Share your recipe here!</h3>
		
		<div id="post">
			<form action = "url_for('post_recipe')" method = "post">
				<input type="text" name="user_name" placeholder="Your Name"><br> <br>
				<input type="text" name="Country" placeholder="Country"><br> <br> 
				<input type="text" name="Recipe_Name" placeholder="Recipe Name"><br> <br>
				<textarea name="Ingredients" rows="25" cols="20">Ingredients</textarea> <br>
				<input type="file" name="Pic_Of_Dish" accept="image/*"> <br>
				<textarea name="How_To" rows="25" cols="20">How To Make</textarea>
				<input type="submit" name="Submit" value="submit">
			</form>
		</div>
		
	</body>
</html>