<!DOCTYPE html>
<html>
	<head>
		<title>foodie</title>
	</head>
	<body>

		<h1>foodie</h1>
		<h3>Share your recipe here!</h3>
		
		<div id="post">
			<form>
				<input type="text" name="user_name" placeholder="Your Name"><br>
				<input type="text" name="Country" placeholder="Country"><br>
				<input type="text" name="Recipe_Name" placeholder="Recipe Name"><br>
				<textarea name="Ingredients" rows="10" cols="5">Ingredients</textarea>
				<input type="file" name="Pic_Of_Dish" accept="image/*">
				<textarea name="How_To" rows="10" cols="5">How To Make</textarea>
				<input type="submit" name="Submit" value="submit">
			</form>
		</div>
		
	</body>
</html>